<nav class="navbar navbar-expand-lg bg-primary-subtle text-emphasis-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/sensor1">Sensor 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sensor2">Sensor 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sensor3">Sensor 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sensor4">Sensor 4</a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-dark" id = "dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
          <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        </svg></button>
      </div>
    </nav>